body {
    background-color: blueviolet;
}

.myJumbo {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.paragraph {
    max-width: max-content;
}
/* 
TODO: add above to paragraph to display more narrow at center.
*/

.myNav {
    background-color: burlywood;
}

.rightSide {
    justify-content: end;
}