.chartContainer {
    border: solid black 3px;
    margin-left: auto;
    margin-right: auto;
}

.chartRow {
    border: solid black 1px;
}

.letterCol {
    /* max-width: max-content; */
}

h4 {
    font-style: italic;
}

.myNav {
    background-color: burlywood;
}

.printBtn {
    width: 150px;
    height: 150 px;
    background-color: chartreuse;
    border-radius: 4px;
    padding: 10px;
    /* filter: drop-shadow(0 -6mm 4mm ; */
    filter: drop-shadow(0 0 0.75rem rgb(160, 0, 210));
}

#share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

}

.home {
    background-color: cornflowerblue;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem crimson);
    width: 150px;
    height: 150 px;
    padding: 10px;
}

