.chartContainer {
    border: solid #7e2119 3px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    background-color: white;
    color: #7e2119
}

.chartRow {
    border: solid #7e2119 1px;
}

body {
    background-image: url('./images/bg.jpg');
}
.myNav {
    background-image: url('./images/bgInvert.jpeg');
    color: white;
}


h4 {
    font-style: italic;
}



.printBtn {
    width: 150px;
    height: 150 px;
    background-color: #8eb540;
    border-radius: 4px;
    padding: 10px;
    filter: drop-shadow(0 0 0.75rem rgb(160, 0, 210));
    border: 4px black solid;
}

#share-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.home {
    background-color: #deabd0;
    border-radius: 4px;
    filter: drop-shadow(0 0 0.75rem crimson);
    width: 150px;
    height: 150 px;
    padding: 10px;
    border: 4px black solid;    
}

.icon {
    width: 150px;
    height: 150px
}


.gIcon {
    filter: invert(100%);
}


  .myTitle {
    font-size: 9vw;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    
  }

.myBtn:hover {background-color: #3e8e41}

.myBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

i {
    font-size: 4vw;
    color: white;
}

.contact {
    border: white 2px solid;
    padding: 10px;
}