.chartContainer {
    border: solid black 3px;
}

.chartRow {
    border: solid black 1px;
}

.letterCol {
    /* max-width: max-content; */
}

h4 {
    font-style: italic;
}

.myNav {
    background-color: burlywood;
}

.printBtn {
    width: 150px;
    height: 150 px;
    background-color: chartreuse;
    border-radius: 4px;
    padding: 10px;
}

#share-buttons {
    display: grid;
    place-items: center;
}

.home {
    background-color: cornflowerblue;
    border-radius: 4px;
}

