body {
    background-color: blueviolet;
}

.myJumbo {
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-top: 40px;
}

.paragraph {
    max-width: 100%;
}
/* 
TODO: add above to paragraph to display more narrow at center.
*/

.myNav {
    background-color: burlywood;
}

textarea {
	box-sizing: border-box;
	width: 100%;
}