body {
    background-color: blueviolet;
}

.myJumbo {
    /* margin-left: 100px;
    margin-right: 100px; */
    margin-top: 40px;
}

.paragraph {
    max-width: 100%;
}
/* 
TODO: add above to paragraph to display more narrow at center.
*/

body {
    background-image: url('./images/bg.jpg');
}
.myNav {
    background-image: url('./images/bgInvert.jpeg');
    color: white;
}
textarea {
	box-sizing: border-box;
	width: 100%;
}

.myTitle {
    font-size: 9vw;
    font-weight: bold;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    
  }