.activity--table {
    margin-top: 20px;
    display: grid;
    place-items: center;
    /* background-color: rgb(255, 213, 205); */
}

.activity__description {
    width: 200px;
    height: 100px;
    /* word-wrap: ; */

}

