.activity--table {
    margin-top: 20px;
    display: grid;
    place-items: center;
    /* background-color: rgb(255, 213, 205); */
}

.activity__description {
    width: 200px;
    height: 00px;
    /* word-wrap: ; */

}


.activity__input {
    border-radius: 5px;
    font-size: inherit;
    padding: 5px 10px;
    outline-color: violet;
    min-height: fit-content;
}